@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: 6px;
  scrollbar-base-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
  /* display: none; Remove scrollbar for Chrome, Safari, and Opera */
  width: 6px;
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background: #080708;
}

button:focus {
  outline: none;
}
